<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dianhang.oa.mapper.OACommonMapper">

	<select id="getBaseMap" resultType="java.util.HashMap" statementType="STATEMENT">
		select ${arg1}, ${arg2} from ${arg0}
	</select>

</mapper> 